.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.mobilemenu {
  display: none;
}



@media screen and (max-width:426px) {

  .mobilemenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 34px;
    /* margin: 0 -28px; */
    margin-right: -42px;
  }
}